img[alt="logo"] {
  animation: fade 1.2s ease-in-out;
  animation-fill-mode: both;
}

/** Other styles needed to fade */
#no2 {
  animation: fade 1s 1s ease-in-out both;
}
#no3 {
  animation: fade 1s 1.5s ease-in-out both;
}
#no4 {
  animation: fade 1s 2s ease-in-out both;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.greySection {
  background: #e6e8ec;
  position: relative;
  box-sizing: border-box;
  border: none;
  margin: 8px -25px 5px;
  box-shadow: 0px 5px 5px grey;
  padding: 50px;
}

.darkerSection {
  background: #3d464f;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px black;
  border: none;
  margin: 8px -25px 5px;
  padding: 50px;
  color: #FFFFFF;
}

.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

section {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.indexSectionContent {
  max-width: 420px;
  text-align: center;
}

.pt-4 {
    padding-top: 6rem;
}

.page-home {
  max-width: 100%;
}

.page-home .pt-4 {
    padding-top: 1em;
}

body.page-section .pt-4 {
  padding-top: 6rem;
}

.nav_header {
  padding: 0px;
  background-color: #e6e8ec;
  box-shadow: 0px 5px 5px grey;
  height: 60px;
}

.spacer {
  height: 20px;
  line-height: 1em;
  box-sizing: border-box;
  margin: 0 -25px;
}