img[alt="logo"] {
  animation: fade 1.2s ease-in-out;
  animation-fill-mode: both;
}

/** Other styles needed to fade */
#no2 {
  animation: fade 1s 1s ease-in-out both;
}
#no3 {
  animation: fade 1s 1.5s ease-in-out both;
}
#no4 {
  animation: fade 1s 2s ease-in-out both;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.greySection {
    background: #e6e8ec;
    position: relative;
    box-sizing: border-box;
    border: none;
    margin: 8px -25px 5px;
    box-shadow: 0px 5px 5px grey;
    padding: 50px;
}

.whiteSection {
    background: #ffffff;
    position: relative;
    box-sizing: border-box;
    border: none;
    margin: 8px -25px 5px;
    padding: 50px;
}

.darkerSection {
  background: #3d464f;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px black;
  border: none;
  margin: 8px -25px 5px;
  padding: 50px;
  color: #FFFFFF;
}

.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

section {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.indexSectionContent {
  /*max-width: 600px;*/
  text-align: center;
}

.pt-4 {
    padding-top: 6rem;
}

.page-home {
  max-width: 100%;
}

.page-home .pt-4 {
    padding-top: 1em;
}

body.page-section .pt-4 {
  padding-top: 6rem;
}

.nav_header {
  padding: 0px;
  background-color: #e6e8ec;
  box-shadow: 0px 5px 5px grey;
  height: 60px;
}

.spacer {
  height: 40px;
  line-height: 1em;
  box-sizing: border-box;
  margin: 0 -25px;
}

.editor {
	display: block;
	margin:auto;
	max-width:530px;
	border-radius:10px;
	box-shadow:rgba(0,0,0,0.8) 0px 20px 70px;
	clear:both;
	overflow: hidden;
	-webkit-transition:all 0.5s ease-out;
		-moz-transition:all 0.5s ease-out;
			-ms-transition:all 0.5s ease-out;
				-o-transition:all 0.5s ease-out;
					transition:all 0.5s ease-out;
}

.title-bar {
    padding:5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow:rgba(255,255,255,0.8) 0px 1px 0px;
    background-color: grey;
    background-image:-webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
        background-image:-moz-linear-gradient(top, #e8e8e8, #bcbbbc);
            background-image:linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow:inset rgba(255,255,255,0.7) 0px 1px 1px;
    border-bottom:#6a6a6a 1px solid;
}

.text-body {
    height:200px;
    background-color:rgba(255,255,255,0.85);
    // background-image:-webkit-linear-gradient(top, #f0f0f0, #eee);
    padding:10px;
    color: 000000;
    text-shadow:#000 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.00em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition:all 0.5s ease-out;
        -moz-transition:all 0.5s ease-out;
            -ms-transition:all 0.5s ease-out;
                -o-transition:all 0.5s ease-out;
                    transition:all 0.5s ease-out;
}

.row {
    display: flex;
}
.left {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    text-align: left;
}

.right {
    flex: 50%;
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

