---
title: "Cryptographic Verification"
date: 2020-02-21T18:41:23Z
lastmod: 2020-07-11
weight: 6
draft: false
---

This section will cover the ability of QLDB to cryptographically verify a document revision (e.g. the state of a record at a particular point in time). This proves that the record exists at the same location in the journal and has not been altered in any way, since it was first written.

