{{- $modifier := .Get 0 -}}
<div class="editor">
    <div class="title-bar"><span class="title">QLDB Guide</span></div>
    <div class="text-body">
    <span id="{{ $modifier }}"></span>
    </div>
</div>
<script>
  var typed = new Typed('#{{ $modifier }}', {
    strings: ['CREATE TABLE Vehicle', 'INSERT INTO Vehicle { \'VIN\' : \'1N4AL11D75C109151\', \'LicensePlateNumber\' : \'LEWISR261LL\' }','{{- .Inner -}}', 'DELETE FROM Vehicle WHERE VIN =\'1N4AL11D75C109151\''],
    typeSpeed: 50,
    startDelay: 50,
    loop: true
  });
</script>
